#!/bin/bash
# shellcheck disable=SC1091
if [[ -f .env ]]; then
    dotenv .env
fi

if [ ! -d .venv ]; then
    echo "warning: creating virtualenv for the first time"
    make setup
    source python/.venv/bin/activate
else
    source python/.venv/bin/activate
    unset PS1
fi
