# Ignored by docker compose, used by devservices
x-sentry-service-config:
  version: 0.1
  service_name: taskbroker
  dependencies:
    kafka:
      description: Shared instance of kafka used by sentry services
      remote:
        repo_name: sentry-shared-kafka
        branch: main
        repo_link: https://github.com/getsentry/sentry-shared-kafka
    redis:
      description: Shared instance of redis used by sentry services
      remote:
        repo_name: sentry-shared-redis
        branch: main
        repo_link: https://github.com/getsentry/sentry-shared-redis.git
    postgres:
      description: Shared instance of postgres used by sentry services
    taskbroker:
      description: Taskbroker service
  modes:
    default: [kafka, postgres]
    client: [kafka, redis, postgres]
    containerized: [kafka, redis, postgres, taskbroker]

x-programs:
  devserver:
    command: cargo run

services:
  taskbroker:
    image: ghcr.io/getsentry/taskbroker:nightly
    environment:
      TASKBROKER_KAFKA_CLUSTER: "kafka-kafka-1:9093"
      TASKBROKER_CREATE_MISSING_TOPICS: "true"
    ports:
      - 127.0.0.1:50051:50051
    networks:
      - devservices
    labels:
      - orchestrator=devservices
    restart: unless-stopped
    platform: linux/amd64
  postgres:
    image: ghcr.io/getsentry/image-mirror-library-postgres:14-alpine
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: sentry
    command:
      [
        postgres,
        -c,
        wal_level=logical,
        -c,
        max_replication_slots=1,
        -c,
        max_wal_senders=1,
      ]
    healthcheck:
      test: pg_isready -U postgres
      interval: 5s
      timeout: 5s
      retries: 3
    networks:
      - devservices
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - 127.0.0.1:5432:5432
    extra_hosts:
      - host.docker.internal:host-gateway
    labels:
      - orchestrator=devservices
    restart: unless-stopped

networks:
  devservices:
    name: devservices
    external: true
