name: Build Python client

on:
  push:
    branches:
      - release/**

permissions:
  contents: read

jobs:
  build:
    name: Build and upload artifacts
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3

      - name: Build artifacts
        run: uv build --package taskbroker-client

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ github.sha }}
          path: dist/*
          if-no-files-found: 'error'
