on:
  pull_request:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

    - run: docker login --username '${{ github.actor }}' --password-stdin ghcr.io <<< "$GHCR_TOKEN"
      env:
        GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: github.event_name != 'pull_request'

    - run: docker buildx create --driver docker-container --use

    - name: build
      run: |
        set -euxo pipefail

        if [ ${{ github.event_name }} = 'push' ]; then
          args=(
            --tag ghcr.io/getsentry/taskbroker:latest
            --tag ghcr.io/getsentry/taskbroker:amd64-latest
            --push
          )
        else
          args=()
        fi

        docker buildx build \
          --pull \
          --platform linux/amd64 \
          --build-arg "TASKBROKER_GIT_REVISION=${{ github.sha }}" \
          --cache-from ghcr.io/getsentry/taskbroker:latest \
          --cache-to type=inline \
          --tag ghcr.io/getsentry/taskbroker:${{ github.sha }} \
          "${args[@]}" \
          .

  publish-taskbroker-to-dockerhub:
    runs-on: ubuntu-latest
    if: ${{ github.ref_name == 'main' }}
    needs: [build]
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - shell: bash
        run: |
          IMAGE_URL="ghcr.io/getsentry/taskbroker:${{ github.sha }} "
          docker login --username=sentrybuilder --password ${{ secrets.DOCKER_HUB_RW_TOKEN }}
          # We push 3 tags to Dockerhub:
          # first, the full sha of the commit
          docker tag "$IMAGE_URL" getsentry/taskbroker:${GITHUB_SHA}
          docker push getsentry/taskbroker:${GITHUB_SHA}
          # second, the short sha of the commit
          SHORT_SHA=$(git rev-parse --short "$GITHUB_SHA")
          docker tag "$IMAGE_URL" getsentry/taskbroker:${SHORT_SHA}
          docker push getsentry/taskbroker:${SHORT_SHA}
          # finally, nightly
          docker tag "$IMAGE_URL" getsentry/taskbroker:nightly
          docker push getsentry/taskbroker:nightly

  build-taskworker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

    - run: docker login --username '${{ github.actor }}' --password-stdin ghcr.io <<< "$GHCR_TOKEN"
      env:
        GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: github.event_name != 'pull_request'

    - run: docker buildx create --driver docker-container --use

    - name: build
      run: |
        set -euxo pipefail

        if [ ${{ github.event_name }} = 'push' ]; then
          args=(
            --tag ghcr.io/getsentry/taskworker:latest
            --tag ghcr.io/getsentry/taskworker:amd64-latest
            --push
          )
        else
          args=()
        fi

        docker buildx build \
          --pull \
          --platform linux/amd64 \
          --cache-from ghcr.io/getsentry/taskworker:latest \
          --cache-to type=inline \
          --tag ghcr.io/getsentry/taskworker:${{ github.sha }} \
          "${args[@]}" \
          ./python
